;
// change credentials for your user and don't commit
const config = {
    projectDirPath: __dirname,//don't change
    logsDirPath: `${__dirname}/logs`,

    env: (process.env.NODE_ENV || "development").toLowerCase(),

    db: {
        username: "postgres",
        password: "postgres",
        database: "xchain",
        schema: "public",
        host: "127.0.0.1",
        port: 5432,
        dialect: "postgres",
        shouldLog: false,
        shouldForceDBSync: false,
        shouldSeedDemoData: false,
    },
 
};

config.dbTest = {...config.db, database: "xchainTest", shouldForceDBSync: true, shouldSeedDemoData: true};

config.isTestRun = config.env === "test";
config.isDev = config.env === "development";
config.chainUrl = config.isDev ? "http://localhost:3300" : `${config.serviceBaseUrl}/chain`;
config.backendUrl = config.isDev ? "http://localhost:4000" : `${config.serviceBaseUrl}/api`;
config.guiUrl = config.isDev ? "http://localhost:3000" : config.serviceBaseUrl;
config.origins = [config.guiUrl, config.chainUrl];


module.exports = config;
